<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" [routerLink]="['p','initial']" (click)="drawer.close()">
          <mat-icon aria-hidden="false" aria-label="Página de boas vindas">home</mat-icon>
          Home
      </a>
      <a mat-list-item href="#" [routerLink]="['p','duelo20s']" (click)="drawer.close()">
        <mat-icon aria-hidden="false" aria-label="Duelo 20s">timer</mat-icon>
        Duelo 20s
      </a>
      <a mat-list-item href="#" [routerLink]="['p','sobre']" (click)="drawer.close()">
        <mat-icon aria-hidden="false" aria-label="Sobre">contact_support</mat-icon>
        Sobre
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Shooting Timer</span>
    </mat-toolbar>
    <!-- Clicked menu links goes here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
