<ng-container>
    <section>
        <h1>Sobre</h1>    
        <h3>Shooting Timer: Aplicativo de Sequência de prova de Tiro Esportivo</h3>
        <h3>Versão 0.3.3 build 150521</h3>
    </section>
    <mat-divider></mat-divider>
    <section>
        <h1>Autor</h1>
        <h3>Marcus Martinho (marcus_martinho@hotmail.com)</h3>
    </section>
    <mat-divider></mat-divider>
    <section>
        <h1>Detalhes</h1>
        <p>
            Este Aplicativo é um exercício do conceito de comunicação entre classes Observáveis do framework
            do Angular. 
            Tranta-se de uma SPA (<i>Single Page Aplication</i>) com design progressivo e suporte PWA 
            (<i>Progressive Web Aplication</i>).
        </p>
    </section>
    <mat-divider></mat-divider>
    <section>
        <h1>Direitos</h1>
        <p>
            Logo CBTE e Duelo 20s são marcas registradas da Confederação Brasileira de Tiro Esportivo 
            (<a href="http://www.cbte.com.br" target="_blank">http://www.cbte.com.br</a>). 
        </p>            
    </section>    
</ng-container>
