<h1 class="titulo">DUELO 20s 10m</h1>
<ng-container *ngIf="status==''; else iniciadoBlock">
    <h1>I - Finalidade</h1>
    <p>
        Regulamentar a prova de Duelo 20 Segundos 10m no âmbito da Confederação Brasileira de Tiro Esportivo e de suas
        Filiadas. Esta prova visa atender necessidades de clubes que não dispõe de pistas de 25m ou mais, via de regra indoor,
        situados nos grandes centros.
    </p>
    <p>Esta prova NÃO INTEGRA o rol de disciplinas do Campeonato Brasileiro de Carabina, Pistola e Rifle.</p>

    <h1>II - Descrição da Prova</h1>

    <ul>
        <li>Distância<br/>
            10 (dez) metros.
        </li>
        <li>Alvo<br/>
            De Pistola de Precisão.
        </li>
        <li> 
            Posição<br/>
            De pé sem nenhum tipo de apoio.
        </li>
        <li>
            Empunhadura<br/>
            Com uma ou duas mãos, a critério do atleta.
        </li>
        <li>
            Ensaio<br/>
            Não haverá ensaio.
        </li>
        <li>
            Prova<br/>
            10 (dez) disparos distribuídos em 2 (duas) séries de 20 (vinte) segundos.
        </li>

        <li>
            Pontuação Especial<br/>
            Os tiros que atingirem o centro olímpico (X) terão o valor de 12 (doze) pontos.
        </li>

        <li>
            Comandos<br/>
            a. "Seu tempo de 1 minuto de preparação começa a partir de agora";<br/>
            b. “Para a primeira série, carregar”;<br/>
            c. “Atenção”<br/>
            <ul>
                <li>
                    Após o comando “atenção”, as armas deverão ser empunhadas com uma ou duas mãos e apontadas para o solo
                    e fazendo um ângulo não superior a 45º (quarenta e cinco graus) com a vertical;
                </li>
                <li>
                    Os alvos serão fechados, reabrindo após 7 (sete) segundos, permanecendo abertos durante 20 (vinte) 
                    segundos, tempo em que deverão ser realizados os disparos;
                </li>
                <li>
                    Encerrada a série, haverá tempo de 40 (quarenta) segundos para recarregar (não haverá novos comandos de
                    “carregar”). A cada nova série haverá o comando “atenção”.
                </li>
            </ul>
            d. O comando de “descarregar” poderá ser dado a qualquer momento que for necessário;<br/> 
            e. Ao final da prova será dado o comando “Prova encerrada - armas em segurança”.<br/> 
            <ul>
                <li>
                    “Armas em segurança” significa: abertas e descarregadas sobre a bancada (com a utilização de safety flag 
                    ou fio de cor viva em sua câmara) ou em seus invólucros;
                </li> 
                <li>Não é permitido o municiamento durante o tempo de preparação;</li> 
                <li>Não será permitido o manuseio de armas e munições enquanto a pista estiver em segurança.</li>
            </ul>
        </li>   
    </ul>
</ng-container>
<ng-container *ngIf="status==''">
    <div class="fixed-right">
        <div class="text-bold">Funções "Luís"</div>
        <mat-divider></mat-divider>
        <div class="some-inside-padding">
            <form [formGroup]="form" (ngSubmit)="salvar();">
                <div>
                    <app-yes-no-button-group
                        label="Preparação Reduzida?"
                        formControlName="yesNoAnswerPreparacaoReduzida" 
                    ></app-yes-no-button-group>
                </div>       
                <div>
                    <app-yes-no-button-group 
                        label="Intervalo Reduzido?"
                        formControlName="yesNoAnswerIntervaloReduzido"
                    ></app-yes-no-button-group>                
                </div>
                <button mat-raised-button 
                        color="primary"
                        matTooltip="Salva configuração no dispositivo">
                    Salvar
                </button>
                <app-flash [receptor]="transmissor"></app-flash>
            </form>
        </div>
    </div>
    <div class="fixed-top-right">
        <button mat-fab color="accent" (click)="iniciar()">
            Iniciar
        </button>
    </div>          
</ng-container>
<ng-template #iniciadoBlock> 
    <section>   
        <div class="button-container">
            <button mat-fab color="warn" aria-label="Contagem">
                <div class="xlarge-font">{{split}}</div>    
            </button>
        </div>
    </section>     
    <mat-divider></mat-divider>   
    <section>    
        <p>{{output}}</p>
    </section>
    <mat-divider></mat-divider> 
    <section>    
        <app-atencao [status]="output"></app-atencao>
    </section>
    <mat-divider></mat-divider>    
    <section>
        <div class="button-container">
            <button mat-raised-button color="accent" (click)="parar()" *ngIf="status!=''">
                Parar
            </button>
            &nbsp;
            <button mat-raised-button color="primary" (click)="apitar()">
                Apitar
            </button>             
        </div>
    </section> 
    <mat-divider></mat-divider>
    <section>
        <p *ngIf="status!=''">Parar tudo e reiniciar: Pressione o Botão Salmão</p>
    </section>       
</ng-template>