.titulo {
    font-weight: bold; 
    text-align: center;
    margin-bottom: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
}

.xlarge-font {
    font-size: xx-large;
}

.fixed-right {
    position: fixed;
    bottom: 3em;
    right: 3em;
    width: auto;
    border: 1px solid #1b1b1b;
    background-color: white;
    .some-inside-padding {
        padding: 0.2em;
    }
    .text-bold {
        text-align: center; 
        font-weight: bold;
    }
}

.fixed-top-right {
    position: fixed;
    top: 5em;
    right: 3em;
}

.row {
    width: 100%;
    display: inline-block;
    .animation {
        width: 50%;
        float: left;
    }
    .actions {
        width: 50%;
        float: right;
    } 
    .instructions {
        width: 100%;
    }    
}

