.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
}

.xlarge-font {
    font-size: xx-large;
}

.float-right {
    position: fixed;
    bottom: 2rem;
    right: 10rem;
    width: 1.5em;
    height: 1.5em;
}

.float-left {
    position: fixed;
    bottom: 2rem;
    right: 24rem;
    width: 1.5em;
    height: 1.5em;
}

.float-center {
    position: fixed;
    bottom: 2rem;
    right: 15rem;
    width: 1.5em;
    height: 1.5em;
}